:root {
          --box-shadow-s: 0 0 0 1px rgba(92,106,196,.1);
--box-shadow-m: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
--box-shadow-l: 2px 4px 10px 0 rgba(0, 0, 0, 0.1);
--box-shadow-elevated: 0 0 0 1px rgba(31, 45, 61, 0.08), 0 2px 2px 0 rgba(31, 45, 61, 0.03);
--box-shadow-elevated-l: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
--box-shadow-large: 0 20px 60px 0 rgba(0, 0, 0, .15);
--box-shadow-base: 0px 12px 26px -4px rgba(0, 0, 0, .1);
--box-shadow-small: 0px 8px 18px -2px rgba(0, 0, 0, .1);
--box-shadow-x-small: 0px 0px 3px 0px rgba(0, 0, 0, .1);
--box-shadow-active: 0 0 6px 1px rgba(20, 100, 160, 0.5);
--box-shadow-inset: inset 0 0 20px 1px rgba(0,0,0,.15);
--box-shadow-small-inset: inset 0 0 0 1px rgba(0,0,0,.05);
--color-default: rgb(251, 251, 251);
--color-default-inverse: rgb(7, 42, 50);
--color-primary: rgb(7, 42, 50);
--color-primary-active: rgb(8, 54, 65);
--color-primary-inverse: rgb(251, 251, 251);
--color-secondary: rgb(192, 233, 79);
--color-secondary-active: rgb(184, 224, 75);
--color-secondary-inverse: rgb(13, 13, 13);
--color-tertiary: rgb(227, 97, 100);
--color-tertiary-active: rgb(28, 88, 47);
--color-tertiary-inverse: rgb(251, 251, 251);
--color-sahara-sand: rgb(252, 246, 160);
--color-flame-pea: rgb(243, 150, 107);
--color-roman: rgb(227, 97, 100);
--color-cerise: rgb(142, 32, 78);
--color-atlantis: rgb(192, 233, 79);
--color-calypso: rgb(25, 108, 133);
--color-blue-dianne: rgb(7, 42, 50);
--color-silver-tree: rgb(112, 175, 144);
--color-zeus: rgb(71, 65, 54);
--color-brick-red: rgb(198, 46, 67);
--color-parsley: rgb(36, 103, 58);
--color-broom: rgb(255, 243, 13);
--color-neutral-0: rgb(23, 25, 28);
--color-neutral-10: rgb(38, 40, 44);
--color-neutral-20: rgb(70, 75, 83);
--color-neutral-30: rgb(94, 100, 110);
--color-neutral-40: rgb(106, 113, 124);
--color-neutral-50: rgb(145, 151, 161);
--color-neutral-60: rgb(172, 177, 185);
--color-neutral-70: rgb(200, 203, 208);
--color-neutral-80: rgb(227, 229, 232);
--color-neutral-85: rgb(238, 239, 241);
--color-neutral-90: rgb(244, 245, 246);
--color-neutral-95: rgb(249, 250, 250);
--color-neutral-100: rgb(255, 255, 255);
--color-success: rgb(82, 224, 105);
--color-success-active: rgb(72, 217, 95);
--color-success-inverse: rgb(251, 251, 251);
--color-danger: rgb(235, 71, 71);
--color-danger-active: rgb(227, 61, 61);
--color-danger-inverse: rgb(251, 251, 251);
--color-warning: rgb(230, 121, 25);
--color-warning-active: rgb(233, 137, 53);
--color-warning-inverse: rgb(251, 251, 251);
--color-yellow: rgb(245, 196, 0);
--color-yellow-active: rgb(255, 206, 10);
--color-yellow-inverse: rgb(251, 251, 251);
--color-text: rgb(7, 42, 50);
--color-text-light: rgb(145, 151, 161);
--color-text-lighter: rgb(172, 177, 185);
--text-color-disabled: rgb(200, 203, 208);
--text-color-inverse: rgb(249, 250, 250);
--text-color-link: rgb(7, 42, 50);
--text-color-link-active: rgb(8, 54, 65);
--text-color-primary: rgb(7, 42, 50);
--text-color-primary-inverse: rgb(251, 251, 251);
--text-color-secondary: rgb(192, 233, 79);
--text-color-secondary-inverse: rgb(13, 13, 13);
--text-color-success: rgb(82, 224, 105);
--text-color-success-inverse: rgb(251, 251, 251);
--text-color-warning: rgb(230, 121, 25);
--text-color-warning-inverse: rgb(251, 251, 251);
--text-color-danger: rgb(235, 71, 71);
--text-color-danger-inverse: rgb(251, 251, 251);
--background-color-base: rgb(255, 255, 255);
--background-color-soft: rgb(249, 250, 250);
--background-color-softer: rgb(244, 245, 246);
--background-color-softer-active: rgb(249, 250, 250);
--background-color-softest: rgb(238, 239, 241);
--background-color-softest-active: rgb(244, 245, 246);
--background-color-inverse: rgb(23, 25, 28);
--background-color-inverse-soft: rgb(38, 40, 44);
--background-color-inverse-softer: rgb(70, 75, 83);
--background-color-inverse-softer-active: rgb(94, 100, 110);
--background-color-disabled: rgb(244, 245, 246);
--background-color-primary: rgb(7, 42, 50);
--background-color-primary-active: rgb(8, 54, 65);
--background-color-primary-inverse: rgb(251, 251, 251);
--background-color-secondary: rgb(192, 233, 79);
--background-color-secondary-active: rgb(184, 224, 75);
--background-color-secondary-inverse: rgb(13, 13, 13);
--background-color-success: rgb(82, 224, 105);
--background-color-success-active: rgb(72, 217, 95);
--background-color-success-inverse: rgb(251, 251, 251);
--background-color-warning: rgb(230, 121, 25);
--background-color-warning-active: rgb(233, 137, 53);
--background-color-warning-inverse: rgb(251, 251, 251);
--background-color-danger: rgb(235, 71, 71);
--background-color-danger-active: rgb(227, 61, 61);
--background-color-danger-inverse: rgb(251, 251, 251);
--background-input-base: rgb(227, 229, 232);
--border-color-base: rgb(227, 229, 232);
--border-color-soft: rgb(238, 239, 241);
--border-color-softer: rgb(244, 245, 246);
--border-color-active: rgb(7, 42, 50);
--border-color-primary: rgb(7, 42, 50);
--border-color-success: rgb(82, 224, 105);
--border-color-warning: rgb(230, 121, 25);
--border-color-danger: rgb(235, 71, 71);
--font-size-xxxxxl: 3.4375rem;
--font-size-xxxxl: 2.5rem;
--font-size-xxxl: 1.875rem;
--font-size-xxl: 1.5rem;
--font-size-xl: 1.25rem;
--font-size-l: 1.125rem;
--font-size-m: 1.0rem;
--font-size-s: 0.875rem;
--font-size-xs: 0.75rem;
--font-heading: Raleway, Helvetica, Arial, sans-serif;
--font-text: Inter, Helvetica, Arial, sans-serif;
--font-code: inconsolata, monospace;
--font-display: SP Malton Sans, Raleway, Helvetica, Arial, sans-serif;
--font-weight-extrablack: 900;
--font-weight-black: 900;
--font-weight-extrabold: 800;
--font-weight-bold: 700;
--font-weight-semi-bold: 600;
--font-weight-medium: 500;
--font-weight-normal: 400;
--font-weight-light: 300;
--line-height-l: 1.45;
--line-height-m: 1.25;
--line-height-s: 1.1;
--line-height-xs: 1;
--line-height-xxs: 0.8;
        }