.ds-table-wrap {
  @include reset;
  width: 100%;
  overflow: auto;
}

.ds-table {
  @include reset;
  width: 100%;
}

.ds-table-col {
  @include reset;
  border-bottom: $border-color-softer solid $border-width-m;
  vertical-align: top;
  padding: $space-s $space-xxs;

  &:last-child {
    padding-right: 0;
  }
}

.ds-table-head-col {
  @include reset;
  border-bottom: $border-color-softer solid $border-width-m;
  padding: $space-s $space-xxs;
  text-align: left;
  font-weight: $font-weight-bold;
}