@mixin field {
  @include text-body;
  position: relative;
  -webkit-appearance: none;
  display: block;
  font-family: $font-text;
  outline: none;
  padding: 0px;
  border: none;
  width: 100%;

  -moz-appearance: none;
  -webkit-appearance: none;

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $color-text-light;
    font-family: $font-text;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: $color-text-light;
    font-family: $font-text;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: $color-text-light;
    font-family: $font-text;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: $color-text-light;
    font-family: $font-text;
  }

  // a focused input (or hovered on)
  &:focus,
  &:active {
    outline: none;
  } // end hover or focus

  &:disabled {
    background-color: $color-neutral-90;
    user-select: none;
  }

  &.-style-default {
    padding: 1rem;
    @include border-radius;
    @include border-shadow($border-color-softer);
  }

  &.-style-border-bottom {
    padding: 1rem 0px;
    border-bottom: 1px solid $color-neutral-90;
  }

  &.-style-no-border {
    border-color: transparent;
  }

  &.-light-onBlack {
    border-color: $color-neutral-0;
  }

  &.-in-error {
    border: $border-width-m solid $border-color-danger;
    color: $color-danger;
  }

  &.-in-success {
    border: $border-width-m solid $border-color-success;
    color: $color-success;
  }
}
