// todo CSS REFACTORING :
// ici ajouter les mixins de grid et de flex

@mixin flex {
  display: flex;
}

@mixin flex-desktop {
  display: block;

  @include breakpoint("medium") {
    display: flex;
  }
}

@mixin flex-center {
  @include flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-item-margin($size: "default") {
  $sizes: (
    default: 1rem,
    small: 0.6rem,
    xs: 0.4rem,
    xxs: 0.2rem,
  );

  @if map-has-key($sizes, $size) {
    margin-right: map-get($sizes, $size);
  } @else {
    @warn "`#{$size}` is not a valid key in `$sizes` Try 'default', 'small', 'xs' or 'xxs'.";
  }

  &:last-child {
    margin-right: 0 !important;
  }
}

@mixin push-right {
  margin-left: auto;
}

@mixin push-left {
  margin-right: auto;
}

@mixin view {
  width: 100%;
  min-height: 100%;
}
@mixin workarea-small {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}