// default theme, to be override in each product

$color-text: $color-blue-dianne;
$color-text-light: $color-gray-dark;

$color-main: $color-broom;
$color-secondary: $color-calypso;

$color-main-light: lighten($color-main, 5%);
$color-main-dark: darken($color-main, 5%);

$color-secondary-light: lighten($color-secondary, 5%);
$color-secondary-dark: darken($color-secondary, 5%);
