.ds-card {
	@include reset;
	@include border-radius($border-radius-s);
	display: flex;
	flex-direction: column;
	background-color: $background-color-base;
	color: $color-text;
	box-shadow: $box-shadow-s, $box-shadow-m;
	height: 100%;
}

.ds-card-centered {
	text-align: center;
}

.ds-card-hover {
	transform: translateY(0);
	transition: transform $duration-base $ease-out, background $duration-base $ease-out,
		box-shadow $duration-base $ease-out;

	&:hover {
		transform: translateY(-$space-xs);
		box-shadow: $box-shadow-s, $box-shadow-l;
	}
}

.ds-card-image {
	@include border-radius($border-radius-s, 'top');
	overflow: hidden;

	img {
		display: block;
		width: 100%;
		max-width: 100%;
	}
}

.ds-card-icon {
	padding: $space-m $space-s 0 $space-s;
	font-size: $font-size-xxxxl;
	opacity: $opacity-soft;
}

.ds-card-header {
	@include reset;
	@include border-radius($border-radius-s, 'top');
	padding: $space-m $space-s $space-s $space-s;

	.ds-card-has-image & {
		@include border-radius(0, 'top');
	}
}

.ds-card-content {
	@include reset;
	padding: $space-s;
	flex: 1 1 0;

	&:last-child:not(:only-child) {
		padding-bottom: $space-l;
	}
}

.ds-card-footer {
	@include reset;
	padding: $space-s;
}

// Color variants
.ds-card-primary {
	background-color: $background-color-primary;
	color: $text-color-primary-inverse;

	&.ds-card-hover:hover {
		background-color: $background-color-primary-active;
	}
}

.ds-card-secondary {
	background-color: $background-color-secondary;
	color: $text-color-secondary-inverse;

	&.ds-card-hover:hover {
		background-color: $background-color-secondary-active;
	}
}
