// ⚡️ Flash Grid based on https://github.com/CodyHouse/flashgrid
$grid-columns: 12 !default;

.mks-grid, [class*="mks-grid-auto"] {
  display: grid;
  grid-gap: var(--grid-gap, 0);
}

.mks-grid {
  --grid-cols: #{$grid-columns};
  grid-template-columns: repeat(var(--grid-cols), 1fr);

  > * {
    grid-column: span var(--span, #{$grid-columns}) / span var(--span, #{$grid-columns});
  }
}

.mks-grid-auto-xs, .mks-grid-auto-sm, .mks-grid-auto-md, .mks-grid-auto-lg, .mks-grid-auto-xl { // auto-sized grid
  grid-template-columns: repeat(auto-fit, minmax(var(--col-min-width), 1fr));
}

.mks-grid-auto-xs { --col-min-width: 8rem; }
.mks-grid-auto-sm { --col-min-width: 10rem; }
.mks-grid-auto-md { --col-min-width: 15rem; }
.mks-grid-auto-lg { --col-min-width: 20rem; }
.mks-grid-auto-xl { --col-min-width: 25rem; }

.mks-grid-auto { // cols = same size
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.mks-grid-gap-xxxs  { --grid-gap: var(--space-xxxs, 0.25rem); }
.mks-grid-gap-xxs   { --grid-gap: var(--space-xxs, 0.375rem); }
.mks-grid-gap-xs    { --grid-gap: var(--space-xs, 0.5rem); }
.mks-grid-gap-sm    { --grid-gap: var(--space-sm, 0.75rem); }
.mks-grid-gap-md    { --grid-gap: var(--space-md, 1.25rem); }
.mks-grid-gap-lg    { --grid-gap: var(--space-lg, 2rem); }
.mks-grid-gap-xl    { --grid-gap: var(--space-xl, 3.25rem); }
.mks-grid-gap-xxl   { --grid-gap: var(--space-xxl, 5.25rem); }
.mks-grid-gap-xxxl  { --grid-gap: var(--space-xxxl, 8.5rem); }

@for $i from 1 through $grid-columns {
  .mks-col-#{$i} { --span: #{$i}; }
  .mks-col-start-#{$i} { grid-column-start: #{$i}; }
  .mks-col-end-#{$i+1} { grid-column-end: #{$i+1}; }
}

.mks-col-start { grid-column-start: 1; }
.mks-col-end   { grid-column-end: -1; }



@include breakpoint('xsmall') {
  .mks-grid-auto-xs\@xs { --col-min-width: 8rem; }
  .mks-grid-auto-sm\@xs { --col-min-width: 10rem; }
  .mks-grid-auto-md\@xs { --col-min-width: 15rem; }
  .mks-grid-auto-lg\@xs { --col-min-width: 20rem; }
  .mks-grid-auto-xl\@xs { --col-min-width: 25rem; }

  .mks-grid-auto\@xs { grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); }
  
  @for $i from 1 through $grid-columns {
    .mks-col-#{$i}\@xs { --span: #{$i}; }
    .mks-col-start-#{$i}\@xs { grid-column-start: #{$i}; }
    .mks-col-end-#{$i+1}\@xs { grid-column-end: #{$i+1}; }
  }

  .mks-col-start\@xs { grid-column-start: 1; }
  .mks-col-end\@xs   { grid-column-end: -1; }
  
  .mks-col-start-auto\@xs { grid-column-start: auto; }
  .mks-col-end-auto\@xs   { grid-column-end: auto; }
}

@include breakpoint('small') {
  .mks-grid-auto-xs\@sm { --col-min-width: 8rem; }
  .mks-grid-auto-sm\@sm { --col-min-width: 10rem; }
  .mks-grid-auto-md\@sm { --col-min-width: 15rem; }
  .mks-grid-auto-lg\@sm { --col-min-width: 20rem; }
  .mks-grid-auto-xl\@sm { --col-min-width: 25rem; }

  .mks-grid-auto\@sm { grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); }

  @for $i from 1 through $grid-columns {
    .mks-col-#{$i}\@sm { --span: #{$i}; }
    .mks-col-start-#{$i}\@sm { grid-column-start: #{$i}; }
    .mks-col-end-#{$i+1}\@sm { grid-column-end: #{$i+1}; }
  }

  .mks-col-start\@sm { grid-column-start: 1; }
  .mks-col-end\@sm   { grid-column-end: -1; }
  
  .mks-col-start-auto\@sm { grid-column-start: auto; }
  .mks-col-end-auto\@sm   { grid-column-end: auto; }
}

@include breakpoint('medium') {
  .mks-grid-auto-xs\@md { --col-min-width: 8rem; }
  .mks-grid-auto-sm\@md { --col-min-width: 10rem; }
  .mks-grid-auto-md\@md { --col-min-width: 15rem; }
  .mks-grid-auto-lg\@md { --col-min-width: 20rem; }
  .mks-grid-auto-xl\@md { --col-min-width: 25rem; }

  .mks-grid-auto\@md { grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); }

  @for $i from 1 through $grid-columns {
    .mks-col-#{$i}\@md { --span: #{$i}; }
    .mks-col-start-#{$i}\@md { grid-column-start: #{$i}; }
    .mks-col-end-#{$i+1}\@md { grid-column-end: #{$i+1}; }
  }

  .mks-col-start\@md { grid-column-start: 1; }
  .mks-col-end\@md   { grid-column-end: -1; }
  
  .mks-col-start-auto\@md { grid-column-start: auto; }
  .mks-col-end-auto\@md   { grid-column-end: auto; }
}

@include breakpoint("large") {
  .mks-grid-auto-xs\@lg { --col-min-width: 8rem; }
  .mks-grid-auto-sm\@lg { --col-min-width: 10rem; }
  .mks-grid-auto-md\@lg { --col-min-width: 15rem; }
  .mks-grid-auto-lg\@lg { --col-min-width: 20rem; }
  .mks-grid-auto-xl\@lg { --col-min-width: 25rem; }

  .mks-grid-auto\@lg { grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); }

  @for $i from 1 through $grid-columns {
    .mks-col-#{$i}\@lg { --span: #{$i}; }
    .mks-col-start-#{$i}\@lg { grid-column-start: #{$i}; }
    .mks-col-end-#{$i+1}\@lg { grid-column-end: #{$i+1}; }
  }

  .mks-col-start\@lg { grid-column-start: 1; }
  .mks-col-end\@lg   { grid-column-end: -1; }
  
  .mks-col-start-auto\@lg { grid-column-start: auto; }
  .mks-col-end-auto\@lg   { grid-column-end: auto; }
}

@include breakpoint("xlarge") {
  .mks-grid-auto-xs\@xl { --col-min-width: 8rem; }
  .mks-grid-auto-sm\@xl { --col-min-width: 10rem; }
  .mks-grid-auto-md\@xl { --col-min-width: 15rem; }
  .mks-grid-auto-lg\@xl { --col-min-width: 20rem; }
  .mks-grid-auto-xl\@xl { --col-min-width: 25rem; }

  .mks-grid-auto\@xl { grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); }

  @for $i from 1 through $grid-columns {
    .mks-col-#{$i}\@xl { --span: #{$i}; }
    .mks-col-start-#{$i}\@xl { grid-column-start: #{$i}; }
    .mks-col-end-#{$i+1}\@xl { grid-column-end: #{$i+1}; }
  }

  .mks-col-start\@xl { grid-column-start: 1; }
  .mks-col-end\@xl   { grid-column-end: -1; }
  
  .mks-col-start-auto\@xl { grid-column-start: auto; }
  .mks-col-end-auto\@xl   { grid-column-end: auto; }
}